<div class="row">
   <div class="col-md-4">
    <h3> formulario de empleados </h3>
      <div class="card">
        
        
         <div class="card-body">
          <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)"> 

            <input type="hidden" name="_id" [(ngModel)]="employeeService.selectedEmployee._id">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="ingrese su nombre " [(ngModel)]="employeeService.selectedEmployee.name">
          </div>

          <div class="form-group">
            <input type="text" class="form-control"name="position" placeholder="ingrese su posicion " [(ngModel)]="employeeService.selectedEmployee.position">
          </div>

          <div class="form-group">
            <input type="text" class="form-control"name="office" placeholder="ingrese su oficio" [(ngModel)]="employeeService.selectedEmployee.office">
          </div>

          <div class="form-group">
            <input type="number" class="form-control" name="salary" placeholder="ingrese su salario " [(ngModel)]="employeeService.selectedEmployee.salary">
          </div>
          <br>
          
          <button class="btn btn-primary mr-2" (click)="resetForm(employeeForm)">
            clear
          </button>


           <button class="btn btn-secondary mr-2 ">
             save
           </button>
          
          </form>
       </div>
       </div>
  </div>
  <div class="col-md-8">
      <table class="table table-light table-borderless">
        <thead>
          <tr>
            <th>
              name
            </th>
            <th>
              position
            </th>
            <th>
              office
            </th>
            <th>
              salary
            </th>
            <th>
              operations
            </th>
          </tr>
        </thead>
        <tbody>
<tr *ngFor=" let employee of employeeService.employees">
<td>{{ employee.name  }}</td>
<td>{{ employee.position }}</td>
<td>{{ employee.office  }}</td>
<td>{{ employee.salary  }}</td>
<td>
    <i class="material-icons" style="color: red; cursor: pointer">delete</i>
    <i class="material-icons" (click)="editEmployee(employee)" style="color: blue; cursor: pointer">edit</i>

</td>

</tr>
        </tbody>
      </table>
  </div>
</div>
