<nav class="avbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Creacion De Empleados</a>
  </div>
</nav>
<div class="container p-4">
<app-employee></app-employee>
</div>